/*전체*/
*{
    box-sizing: border-box;
}
html{
    background-color: white;
}

body{
    margin : 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10px 220px 420px 620px;
    grid-gap: 10px;
    grid-template-areas: 
        "header header header header header header header header header header header header"
        "menubar menubar overview overview overview overview overview overview overview overview overview ."
        "menubar menubar section section section section section section section section section ."
        "menubar menubar side side side side side side side side side .";
}

/*링크*/
a{
    color: black; /* 링크의 기본 색상을 상속 */
    text-decoration: none; /* 밑줄 제거 */
}

a:hover{
    color: teal;
}

/*헤더*/
header{
    grid-area: header;
    position :fixed;
    top : 0;
    left : 0;
    width : 100%;
    border-bottom : solid; 
    background-color: #FFFFFF;
    border-color : #000000;
    display : grid;
    grid-column : 1 / span 12;
    grid-row : 0;
    padding : 5px;
    margin-bottom: 10px;

}

.logo {
    grid-column : 1 / 1   ;  
    grid-row : 0;
    height : 30px;
}

.headLine{
    grid-column : 12;
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: end;
}

.yourPic{
    height : 30px;
    margin-right : 5px;
}

.myinfo {
    margin : 0 5px 0 5px;
}

.logout {
    margin : 0 5px 0 5px;
}
.alarm {
    height: 100px;
    margin-right : 5px;
}

/* #alarm-button{
    border-radius: 100%;
    border-color : #CCCCCC;
    background-color: #CCCCCC;
}*/

/*사이드*/
aside{
    grid-area : side;
    border : solid;
    border-color : #000000;
    background-color: #FFFFFF;
    margin-top : 50px;
    padding : 20px 300px 20px 300px;
}

/*네비게이션 바 위치*/
/*네비게이션 바*/
nav{
    grid-area : menubar;
    display : grid;
    grid-gap: 10px;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 3rem 0.5fr 0.5fr 0.5fr 0.5fr 0.1fr 0.1fr;
    grid-template-areas :
        "menuicon menuname"
        "mainlog mainlog"
        "awslog awslog"
        "control control"
        "export export"
        ". ."
        "address address";
    left : 0;
    border : solid; 
    background-color: #FFFFFF;
    border-color : #000000;
    margin-top: 50px;
    padding : 5px 20px 5px 5px;
}

li{
    list-style-type: none;
    font-size : 20px;
    margin-left : 5px;
    padding-left : 10px;
    border-left : 5px solid black;
    margin-bottom : 15px;
    align-self: center;
}

li:hover{
    list-style-type: none;
    font-size : 20px;
    margin-left : 5px;
    padding-left : 10px;
    border-left : 5px solid gray;
    margin-bottom : 15px;
}

/*메뉴 아이콘 및 정보*/
#expand-menu{
    border-radius: 100%;
    border-color : #000000;
    background-color : #FFFFFF;
    margin : 5px;
    width : 45px;
    height : 45px;
    grid-area : menuicon;
}

.menuicon{
    width : 30px;
    height : 30px;
}

.index{
    font-size : 25px;
    border-color : black;
    padding-left : 5px;
    padding-bottom : 5px;
}

#main .index{
    font-weight : 600;
}

.mainlog{
    font-weight : 600;
}

label{
    grid-area: menuname;
    padding-top : 5px;
    align-self: center;
    font-weight: 900;
}

/*메뉴 항목*/
#main{
    grid-area : mainlog;
}

#aws-log{
    grid-area : awslog;
}

#aws-con{
    grid-area : control;
}

#aws-exp{
    grid-area : export;
}

.address{
    padding-left : 20px;
    font-size: 15px;
    font-style: italic;
    grid-area: address;
}


/*섹션1 - 요약(오버뷰)*/
.overview{
    grid-area: overview;
    border : solid;
    border-color: #000000;
    padding : auto;
    display : flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #FFFFFF;
    place-self: center;
    align-content: center;
    justify-content: center;
}

#now-state{
    border : solid;
    padding : 40px 315px 40px 315px; 
    margin : 5px;
}

#alarm-num{
    border : solid;
    padding : 40px 315px 40px 315px;
    margin : 5px;
}

/*섹션2 - 로그(오버뷰2) */
.log{
    grid-area: section;
    display : flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    place-self: center;
    align-content: center;
    justify-content: center;
    border : solid;
    border-color: #000000;
}

@media screen and (min-width: 900px){
    .log{
        display : grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
        grid-template-areas:
            "firstlog1 firstlog2"
            "secondlog thirdlog";
        border : solid;
        border-color: #000000;
    }

    .firstlog1, .firstlog2, .secondlog, .thirdlog {
        border : solid;
        border-color: #000000;
        background-color: white;
        padding: 100px 300px 100px 300px
    }

    .firstlog1{
        grid-area: firstlog1;
    }
    .firstlog2{
        grid-area: firstlog2;
    }
    .secondlog{
        grid-area: secondlog;
    }
    .thirdlog{
        grid-area: thirdlog;
    }

}


@media screen and (max-width: 900px){
    .log{
        grid-area : section;
    }

    .firstlog1, .firstlog2, .secondlog, .thirdlog {
        border : solid;
        border-color: #000000;
        min-width: 350px;
        max-width : 400px;
        background-color: white;
        margin: 5px;
        display : flex;
        justify-content: center;
        align-items: center;
    }
    
}

.firstlog1, .firstlog2, .secondlog, .thirdlog {
    border : solid;
    border-color: #000000;
    background-color: white;
    margin: 5px;
}

#overview{
    color : black;
}

#firstlog1, #firstlog2, #secondlog, #thirdlog {
    place-self: center;
}



