/*전체*/
*{
    box-sizing: border-box;
}
html{
    background-color: white;
}

body{
    margin : 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 1fr;
    grid-gap: 10px;
    grid-template-areas: 
        "header header header header header header header header header header header header"
        "menubar menubar section section section section section section section section section ."
}

/*링크*/
a{
    color: var(--black); /* 링크의 기본 색상을 상속 */
    text-decoration: none; /* 밑줄 제거 */
}

a:hover{
    color: green;
}

/*헤더*/
header{
    grid-area: header;
    position :fixed;
    top : 0;
    left : 0;
    width : 100%;
    border-bottom : solid; 
    background-color: #FFFFFF;
    border-color : var(--black);
    display : grid;
    grid-column : 1 / span 12;
    grid-row : 0;
    padding : 5px;
    margin-bottom: 2px;

}

.logo {
    grid-column : 1 / 1   ;  
    grid-row : 0;
    height : 30px;
}

.headLine{
    grid-column : 12;
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: end;
}

.yourPic{
    height : 30px;
    margin-right : 5px;
}

.myinfo {
    margin : 0 5px 0 5px;
}

.logout {
    margin : 0 5px 0 5px;
}
.alarm {
    height: 100px;
    margin-right : 5px;
}

/* #alarm-button{
    border-radius: 100%;
    border-color : #CCCCCC;
    background-color: #CCCCCC;
}*/



/*네비게이션 바 위치*/
/*네비게이션 바*/
nav{
    grid-area : menubar;
    display : grid;
    grid-gap: 5px;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 3rem 1fr 0.8fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas :
        "menuicon menuname"
        "mainlog mainlog"
        "awslog awslog"
        "control control"
        "export export"
        "address address";
    left : 0;
    border : solid; 
    background-color: #FFFFFF;
    border-color : var(--black);
    margin-top: 0px;
    padding : 5px 20px 0px 5px;
}

li{
    list-style-type: none;
    font-size : 20px;
    margin-left : 5px;
    padding-left : 10px;
    border-left : 5px solid var(--black);
    margin-bottom : 15px;
    align-self: center;
}

li:hover{
    list-style-type: none;
    font-size : 20px;
    margin-left : 5px;
    padding-left : 10px;
    border-left : 5px solid var(--green);
    margin-bottom : 15px;
}

/*메뉴 아이콘 및 정보*/
#expand-menu{
    background-color : #FFFFFF;
    grid-area : menuicon;
    align-self: center;
}

.menuicon{
    margin : 5px;
    width : 45px;
    height : 45px;
}

.index{
    font-size : 25px;
    border-color : var(--black);
    padding-left : 5px;
    padding-bottom : 5px;
}

#main .index{
    font-weight : 600;
}

.mainlog{
    font-weight : 600;
}

label{
    grid-area: menuname;
    padding-top : 5px;
    align-self: center;
    font-weight: 900;
}

/*메뉴 항목*/
#main{
    grid-area : mainlog;
}

#aws-log{
    grid-area : awslog;
}

#aws-con{
    grid-area : control;
}

#aws-exp{
    grid-area : export;
}

.address{
    padding-left : 20px;
    font-size: 15px;
    font-style: italic;
    grid-area: address;
}
/* 전체 섹션 */
section{
    grid-area : section;
    display : flex;
    flex-wrap: wrap;
    gap : 5px;
    flex-direction: column;
}

/*섹션1 - 요약(오버뷰)*/
.overview{
    border : solid;
    border-color: var(--black);
    padding : auto;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#now-state{
    border : solid;
    margin : 5px;
}

#alarm-num{
    border : solid;
    margin : 5px;
}

/*섹션2 - 로그(오버뷰2) */
.log{
    background-color: #FFFFFF;
}

.log{
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
        "firstlog1 firstlog2"
        "secondlog thirdlog";
    border : solid;
    border-color: var(--black);
}
.firstlog1, .firstlog2, .secondlog, .thirdlog {
    margin : 5px;
    border : solid;
    border-color: var(--black);
    background-color: white;
}
.firstlog1{
    grid-area: firstlog1;
}
.firstlog2{
    grid-area: firstlog2;
}
.secondlog{
    grid-area: secondlog;
}
.thirdlog{
    grid-area: thirdlog;
}
/*사이드*/
#alarm-list{
    grid-area : side;
    border : solid;
    border-color : var(--black);
    background-color: #FFFFFF;
}

