.menu {
    display: block;
    overflow: hidden;
    width: 240px;
    height: 500px;
    background-color: #B8F3B8;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #b7c1ac;
    color: #000;
    border-radius: 10px;
}
.menu div {
    position: absolute;
    left: 40px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}
.phone {
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#expand-menu {
    display: none;
}
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.menu label::before{ content: '\e5d2'; }
.menu ul > li:nth-child(1) > a:nth-child(1) { float:left; }
.menu ul > li:nth-child(1) > a:nth-child(2) > div { left:110px; }
/* .menu li:nth-child(1) a::before{ content: '\f02e'; }
.menu li:nth-child(2) a::before{ content: '\e8d6'; }
.menu li:nth-child(3) a::before{ content: '\e88a'; }
.menu li:nth-child(4) a::before{ content: '\e8cc'; }
.menu li:nth-child(5) a::before{ content: '\e87d'; }
.menu li:nth-child(6) a::before{ content: '\e8b8'; } */
.item-submenu1 { 
    display: none;
    list-style: none;
}
.item-home:hover .item-submenu1 { 
    display: block; 
    color: #000;
}

.item-submenu2 { 
    display: none;
    list-style: none;
}
.item-aws-logs:hover .item-submenu2 { 
    display: block; 
    color: #000;
}

.item-submenu3 { 
    display: none;
    list-style: none;
}
.item-aws-control:hover .item-submenu3 { 
    display: block; 
    color: #000;
}

@media screen and (max-width:1023px) {
    .menu {
        width: 60px;
    }
    .menu label div {
        visibility: hidden;
    }
    .menu ul {
        visibility: hidden;
    }
}
@media screen and (max-width:560px) {
    .menu {
        height: 60px;
    }
    .menu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}