#expand-menu {
    display: none;
}

#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.menu {
    display: block;
    overflow: hidden;
    width: 200px;
    background-color: #C4E8CC;
    /*color: #59C5A4;*/
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.menu ul {
    list-style: none;
    padding-top: 20px;
    color: #000;
}

.menu ul li {
    list-style: none;
    margin-top: 20px;
    padding-left: 0;
    padding-bottom: 20px;
}

.menu div {
    position: absolute;
    left: 35px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

.menu ul > li > a { 
    text-decoration: none;
    color: inherit;
}
.menu ul > li:nth-child(1) > a:nth-child(2) > div { left: 110px; }

.menu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.menu label::before{ content: '\e5d2'; }