.main {
    display: block;
    overflow: hidden;
    float: left;
    width: 800px;
    height: 500px;
    background-color: #a3a0a9;
    transition: all 0.2s ease;
    border-radius: 20px;
    position: absolute;
    left: 260px;
    box-sizing: border-box;
}

@media screen and (max-width:1023px) {
    .main {
        width: 600px;
        left: 80px;
    }
}

@media screen and (max-width:560px) {
    .main {
        width: 320px;
        left: 80px;
    }
}